[Unit]
Description=Runs the heartbeat ping script
Wants=heartbeat-client.timer

[Service]
Type=oneshot
ExecStart=%h/.heartbeat/bin/heartbeat

[Install]
WantedBy=multi-user.target 
